
.formulario-div{
    background-image: url('../imagenes/fondo.png');
    min-height: 80vh;
    display: grid;
    place-items: center;
    padding: 30px;
}

.formulario-div form{
    width: 400px;
    min-height: 60vh;
    background: #f4f4e1;
    border: 5px solid white;
    padding: 3%;
    font-family: "Montserrat Alternates", serif;
    font-size: 2rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

input[type=text],input[type=password], input[type=number],
select, textarea,input[type=file]{
    font-family: "Montserrat Alternates", serif;
    font-size: 2rem;
    margin: 1rem 0 1rem 0;
}

label{
    color: #774f38;
}

.formulario-div h3{
    text-align: center;
    color: #42929d;
    text-transform: uppercase;
    border-bottom: 1px solid #42929d;
}

