
.verpostres {
    background: #f4f4e1;
    padding: 3% 5% 3% 5%;

}

.separador{
    background: #42929D;
    color: white;
    padding: 20px;
    font-family: "Patua One", serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1rem;
    margin-top: 30px;
    margin-bottom: 30px;
}

.contenedor{
    display: grid;
    grid-template-columns: repeat(auto-fit, 350px);
    justify-content: space-around;
    row-gap: 30px;
}

.producto-tarjeta{
    background: #ece5ce;
    border: 5px solid white;
    padding: 10px;
    transition: box-shadow 0.5s;
}

.producto-tarjeta:hover{
    box-shadow: 0 5px 10px gray;   
}

.producto-tarjeta .nombre{
    font-family: "Patua One", serif;
    color: #42929D;
}

.producto-tarjeta .precio{
    font-family: "Patua One", serif;
}

.producto-tarjeta .imagen{
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.producto-tarjeta .descripcion{
    font-family: "Balsamiq Sans", sans-serif;
    height: 4rem;
    overflow: hidden;
    text-align: justify;
}

.producto-tarjeta .nombre, .producto-tarjeta .precio, 
.producto-tarjeta .imagen, .producto-tarjeta .descripcion{
    margin-bottom: 1rem;
    
}